{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Work Updates</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css'%}">

</head>
<body style="background-color: black; color:white">
	{%  include 'login_register/navbar.html' %}
	<div class="container-fluid">
	{% block content %}

	<center>
	    <h2 class="display-5" style="background-color:#000000;color:#FFFF99;">Upload Your Work Updates</h2>
	    <form method = 'POST' enctype="multipart/form-data">
	        {% csrf_token %}
	        <table class = 'w-50 table table-light' style="border-radius:10px;background-color:#FFFF99;">
	            {% for field in upload_form %}
	            <tr>
	                <th>{{field.label}}</th>
	                <td>{{ field }}</td>
	            </tr>
	            {% endfor %}
	        </table>
	        <!--<button type="submit" class="btn btn-lg btn-warning">Submit</button>-->
					<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#submitModal">
						Upload Update!
					</button>
					<!-- <button class="btn btn-dark mt-5">Place Order!</button> -->

					<!-- Modal -->
					<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="submitModalLabel">Submit!</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-light" data-dismiss="modal">Go Back</button>
									<button type="submit" class="btn btn-dark">Confirm</button>
								</div>
							</div>
						</div>
					</div>
	    </form>
	</center>



	{% endblock %}
    </div>
	<hr>

	{%  include 'login_register/footer.html' %}
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
